@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mountains+of+Christmas:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    /* background-image: url('./bg.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed; */
    background-color: #fff;
    /* background-color: #492156; */
    font-family: 'Mountains of Christmas', serif;
    font-weight: bolder;
    font-style: normal;
}

.container {
    background-color: #fff;
    /* margin-top: 1em; */
    padding-bottom: 1em;
    padding-top: 1em;
    /* padding-left: 5em;
    padding-right: 5em; */
    height: 100vh;
    width: 40%;
}

#cim {
    color: #492156;
    font-size: 2em;
    text-align: center;
    /* left: 1em; */
    /* position: absolute; */
}

.sor {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.sor2 {
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
    display: flex;
    justify-content: center;
}

.cl-6 {
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #492156;
    cursor: pointer;
    color: white;
    font-size: 3em;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cl-1 {
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    color: white;
    font-size: 3em;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0px;
    /* list-style-image: url('./cloud.png'); */
}

h2 {
    color: whitesmoke;
}

.modal-title {
    color: #492156;
}

.modal-dialog {
    color: whitesmoke;
}

.modal-kep {
    margin-bottom: 1em;
}

.modal-body {
    background-color: #492156;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@media screen and (max-width: 1800px) {
    body {
        background-size: cover;
        height: 100vh;
        background-attachment: fixed;
    }

    .container {
        margin-bottom: 1em;
        width: 50%;
    }

    #cim {
        /* position: relative; */
        font-size: 1.5em;
    }

    .cl-6 {
        height: 155px;
    }
}

@media screen and (max-width: 1500px) {
    body {
        background-size: cover;
        height: 100vh;
        background-attachment: fixed;
        background-color: #fff;
    }

    .container {
        margin-bottom: 1em;
        width: 60%;
    }

    #cim {
        /* position: relative; */
        font-size: 1.5em;
    }

    .cl-6 {
        height: 155px;
    }
}

@media screen and (max-width: 1200px) {
    body {
        background-size: cover;
        height: 100vh;
        background-attachment: fixed;
        background-color: #fff;
        padding-bottom: 1em;
    }

    .container {
        margin-bottom: 1em;
        width: 70%;
    }

    #cim {
        /* position: relative; */
        font-size: 1.5em;
    }

    .cl-6 {
        height: 155px;
    }
}

@media screen and (max-width: 750px) {
    body {
        /* background-image: url('./bg2.gif'); */
        background-color: #fff;
        background-size: contain;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .container {
        margin-bottom: 1em;
        padding-bottom: 1em;
        width: 90%;
    }
    .sor {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .sor2 {
        /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
        display: flex;
        justify-content: center;
    }

    #cim {
        position: relative;
    }

    .fiok {
        height: 155px;
    }

    iframe {
        width: 305px !important;
    }
}
